.navbar-color{
    background-color: #8BC6EC;
background-image: linear-gradient(90deg, #8BC6EC 0%, #0c0c37 100%);

}

.logo img{
    height:2rem;
    
}

.text-color{
    color: aliceblue;
    text-transform: uppercase;
    
}

.padding-class{
    padding: 5px;
}

.anchor-color {
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    position: sticky;
    top:0%;
    z-index: 10;
}